<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Users </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registrationForm" (ngSubmit)="addUser()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="!registrationForm.valid"
      >Register</ion-button
    >
  </form>

  <ion-list>
    <ion-list-header>
      <ion-label>Usuarios Registrados</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
